body {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  margin: 0;

  font-family: Roboto, sans-serif;

  background: #eee;
}

.logo {
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 70px;
  height: 70px;
  border-radius: 16px;

  color: white;
  text-transform: uppercase;

  background-color: #fc4b3b;
}

[data-qa='notification'] {
  position: fixed;
  top: 20px;
  right: 20px;

  padding: 10px;
  border-radius: 5px;

  color: #fff;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  transition: transform 0.3s ease-in-out;
}

[data-qa='notification'] + [data-qa='notification'] {
  margin-top: 50px;
}

[data-qa='notification'] + [data-qa='notification'] + [data-qa='notification'] {
  margin-top: 100px;
}

.success {
  background-color: #4caf50;
}

.error {
  background-color: #fc4b3b;
}
