body {
  background: #eee;
  font-family: Roboto, sans-serif;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
}

.logo {
  text-transform: uppercase;
  background-color: #fc4b3b;
  color: white;
  border-radius: 16px;
  user-select: none;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.success,
.warning {
  background-color: rgba(12, 197, 43, 0.63);
  padding: 20px;
  margin: 20px;
  border-radius: 16px;
}

.warning {
  background-color: rgba(207, 221, 15, 0.63);
}
