body {
  background: #eee;
  font-family: Roboto, sans-serif;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
}

.logo {
  text-transform: uppercase;
  background-color: #fc4b3b;
  color: white;
  border-radius: 16px;
  user-select: none;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message {
  position: absolute;
  right: 50px;
  padding: 25px;

  width: 200px;

  font-family: Verdana, sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: center;

  border-radius: 15px;

  &--error {
    background-color: rgba(204, 51, 0, 0.5);
  }

  &--success {
    background-color: rgba(230, 230, 0, 0.5);
  }

  &--first {
    top: 50px;
  }

  &--second {
    top: 150px;
  }

  &--third {
    top: 250px;
  }
}
