body {
  background: #eee;
  font-family: Roboto, sans-serif;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
}

.logo {
  text-transform: uppercase;
  background-color: #fc4b3b;
  color: white;
  border-radius: 16px;
  user-select: none;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
}

.warning {
  background-color: red;
  color: #eee;
}
.success {
  background-color: greenyellow;
}
